<aside id="sidebar" class="js-sidebar">
	<!-- Content For Sidebar -->
	<div class="h-100">
		<div class="sidebar-logo">
			<a href="#">Tazkarti</a>
		</div>
		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Admin Methods
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#tournament" data-bs-toggle="collapse"
				   aria-expanded="false">
					<i class="fa-solid fa-file-lines pe-2"></i>
					Tournament
				</a>
				<ul id="tournament" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="AddTournament" asp-controller="Tournament">
							<i class="fa-solid fa-list pe-2"></i>
							Add Tournament
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="SearchTournament" asp-controller="Tournament">
							<i class="fa-solid fa-search pe-2"></i>
							Search Tournament
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="UpdateTournament" asp-controller="Admin">
							<i class="fa-solid fa-edit pe-2"></i>
							Update Tournament
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="DeleteTournament" asp-controller="Admin">
							<i class="fa-solid fa-trash pe-2"></i>
							Delete Tournament
						</a>
					</li>
				</ul>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#team" data-bs-toggle="collapse"
				   aria-expanded="false">
					<i class="fa-solid fa-file-lines pe-2"></i>
					Team
				</a>
				<ul id="team" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="AddTeam" asp-controller="Admin">
							<i class="fa-solid fa-plus pe-2"></i>
							Add Team
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="SearchTeam" asp-controller="Admin">
							<i class="fa-solid fa-search pe-2"></i>
							Search Team
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="UpdateTeam" asp-controller="Admin">
							<i class="fa-solid fa-edit pe-2"></i>
							Update Team
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="DeleteTeam" asp-controller="Admin">
							<i class="fa-solid fa-trash pe-2"></i>
							Delete Team
						</a>
					</li>
				</ul>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link collapsed" data-bs-target="#match" data-bs-toggle="collapse"
				   aria-expanded="false">
					<i class="fa-solid fa-file-lines pe-2"></i>
					Match
				</a>
				<ul id="match" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="AddMatch" asp-controller="Admin">
							<i class="fa-solid fa-plus pe-2"></i>
							Add Match
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="SearchMatch" asp-controller="Admin">
							<i class="fa-solid fa-search pe-2"></i>
							Search Match
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="UpdateMatch" asp-controller="Admin">
							<i class="fa-solid fa-edit pe-2"></i>
							Update Match
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-action="DeleteMatch" asp-controller="Admin">
							<i class="fa-solid fa-trash pe-2"></i>
							Delete Match
						</a>
					</li>
				</ul>
			</li>
			<!-- Existing code continues here -->
		</ul>
	</div>
</aside>