@using Microsoft.AspNetCore.Identity
@using Tazkarti.Models.AppUser
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<nav class="header navbar navbar-expand px-3 border-bottom d-flex justify-content-between">

    <div>
        <button class="btn" id="sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="ms-3" height="35px" src="/new/logo1.svg" alt="Alternate Text" />
    </div>

    <div class="me-4 d-flex align-items-center">
        @{
            var user = await UserManager.GetUserAsync(User);
        }
        <div class="me-3">
            <p class="mb-0 text-white fs-6">@user?.UserName</p>
        </div>

        <ul class="navbar-nav m-0">
            <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                    <img src="/new/AlahlyLogo.jpeg" class="avatar img-fluid rounded" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Setting</a>
                    <a href="@Url.Action("Logout", "Account")" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>

    </div>

</nav>