@using Tazkarti.Models.Sport
@model Tournament
<div id="Conn" style="width:100%;height:100%">

	<form asp-action="SavingTournament" asp-controller="Admin" method="post" style="width:60%;height:100%" id="formm">

		<div>
			<label class="col-form-label mt-4" for="inputDefault">Tournament Name</label>
			<input type="text" class="form-control" placeholder="Tournament" id="name" name="Name">
			<div id="TournamentError" style="color:red"></div>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div>
			<label class="col-form-label mt-4" for="Year">Year</label>
			<input type="text" class="form-control" placeholder="Year" id="year" name="Year">
			<div id="YearError" style="color:red"></div>
			<span asp-validation-for="Year" class="text-danger"></span>
		</div>

		<div class="o-inp b">
			<button type="submit" class="btn btn-primary btn-lg bb" id="btnn" onclick="initializeLoadedContent()">Submit</button>
		</div>
	</form>

</div>
