@model Tazkarti.Models.Sport.Team
<!DOCTYPE html>
<html lang="en">

@{
	await Html.RenderPartialAsync("~/Views/Shared/Admin/_Head.cshtml");
}

<body>
	<div class="wrapper">
		@{
			await Html.RenderPartialAsync("~/Views/Shared/Admin/_Sidebar.cshtml");
		}
		<div class="main">

			@{
				await Html.RenderPartialAsync("~/Views/Shared/Admin/Nav2.cshtml");
			}

			<main class="content px-3 py-2">
				<div id="dynamicContainer" class="container-fluid" style="width:100%;height:100%">
					@{
						await Html.RenderPartialAsync("~/Views/Admin/Methods/_AddTeam.cshtml");
					}
				</div>
			</main>


			@{
				await Html.RenderPartialAsync("~/Views/Shared/Admin/_Footer.cshtml");
			}

		</div>
	</div>
	@{
		await Html.RenderPartialAsync("~/Views/Shared/Admin/_FooterScript.cshtml");
	}

</body>

</html>
