.navbar{
    display: flex;
    
}
.body{
    margin-bottom:0px;
    padding:0px;
   
}
.im
{
    width: 99px;
    height: 29px;
    margin-left: 100px;
}
.navv
{
    background-color: #219f45;
}
.font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 332;
  font-style: normal;
}
.next-plan-component {
    text-align: center;
    margin: 85px 0;
}

    .next-plan-component h2 {
        font-size: 2em;
        font-weight: bold;
    }

    .next-plan-component p {
        font-size: 1.2em;
    }


.encode-sans-expanded-bold {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size:30px;
}
.ticket-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom:150px;
}

.ticket-box {
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

    .ticket-box:hover {
        transform: scale(1.05);
    }

.sports {
    background-color: #2f5233;
}

.entertainment {
    background-color: #a95c21;
}

.ticket-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.ticket-text h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold; /* Make the text bold */
}

.ticket-text p {
    margin: 5px 0 0;
    font-size: 16px;
}
.Logandreg {
    display: flex;
    justify-content: center;
}
.Logandreg span{
    margin-left:20px;
    margin-right:20px;
    font-size:20px;
}
.footer-component {
    text-align: center;
    padding: 10px 0;
    background-color: #219f45;
    color: #fff;
    font-size: 0.9em;
    margin-top: 50px;
}

    .footer-component p {
        margin: 5px 0;
    }
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-family: 'Encode Sans Expanded', sans-serif;
}

.footer-component {
    text-align: center;
    padding: 20px 0;
    background-color: #28a745;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
