@{
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
    ViewData["Title"] = "Tazkarti";
}
<html>
<head>
    <link href="/new/style.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>

</head>
<body>

    
</body>
</html>
