@model Tazkarti.Models.AppUser.ApplicationUser
<!DOCTYPE html>
<html lang="en">

@{
	await Html.RenderPartialAsync("~/Views/Shared/Admin/_Head.cshtml");
}

<body>
	<div class="wrapper">
		@{
			await Html.RenderPartialAsync("~/Views/Shared/Admin/_Sidebar.cshtml");
		}
		<div class="main">

			@{
				await Html.RenderPartialAsync("~/Views/Shared/Admin/_Navbar.cshtml");
			}

			<main class="content px-3 py-2">
				<div id="dynamicContainer" class="container-fluid" style="width:100%;height:100%">
					<h2>Welcome to Admin Dashboard</h2>
				</div>
			</main>

			@{
				await Html.RenderPartialAsync("~/Views/Shared/Admin/_Footer.cshtml");
			}

		</div>
	</div>

	@{
		await Html.RenderPartialAsync("~/Views/Shared/Admin/_FooterScript.cshtml");
	}
	@await Component.InvokeAsync("NToastNotify")
</body>

</html>
